@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin-top: 100px;">
    <span class="mif-home mif-5x fg-cyan"></span>
    <h1 class="mt-4">OTEK Yönetim Sistemine Hoş Geldiniz</h1>
    <p class="fg-gray text-leader">
        Lütfen işlem yapmak için üst menüden bir seçenek belirleyin.
    </p>
</div>